body{

    margin: 0;
}



/* hero page */

.hero {
    /* background-image: url("https://wallpaper.dog/large/20505290.jpg"); */
    background-repeat: no-repeat;
    text-align: center;
    width: 100vw;
    height: 100vh;
    /* background-size: cover; */

}

.hero1{
    background-image: url("https://wallpaper.dog/large/20505290.jpg");
    height: 100%;
    background-size:cover ;
}

.video{


    width: 100vw;
    height: 100vh;


}


#my-video{
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

 } 



.divs {

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    width: 100vw;
}
.login-column{

    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#h1 {
    -webkit-text-stroke: 0.6px rgb(8, 80, 34);
    font-size: 100px;
    color: rgba(186, 233, 164, 0.757);
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: color-change ease-in-out infinite;
    animation-duration: 4s;

}



#p1 {
    font-size: 3vw;
    color: white;
    -webkit-text-stroke: 0.3px black;
    display: flex;
    justify-content: center;
    font-weight: 900;
    border: 6px double white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#login-name{
    
    height: auto;


}

.login-home{
    display: inline-block;
    text-align: center;
    margin-top: 10vh;
    height: auto;
    width: auto;
    font-size: 3vw;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(255, 255, 255, 0.126);
    color: white;
    -webkit-text-stroke: 0.3px black;
    border-radius: 5px;
    border: 5px double white;
    cursor: pointer;
   
}




.divs a{
    cursor: pointer;
    text-decoration: none;
}


#button1 {
    display: inline-block;
    text-align: center;
    margin-top: 10vh;
    height: auto;
    width: auto;
    font-size: 5vw;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(255, 255, 255, 0.126);
    color: white;
    -webkit-text-stroke: 0.3px black;
    border-radius: 5px;
    border: 5px double white;
    cursor: pointer;
}

#sign-link{
    cursor: initial;
    height: auto;

}

#button1:hover{

    background-color: rgba(255, 255, 255, 0.885);
    color: black;

}


.login-home:hover{
    background-color: rgba(255, 255, 255, 0.885);
    color: black;
}


.button-hero{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
}

.button-hero span{
    position: relative;
    top: 50%;
    color: azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    animation: button-hero-span infinite;
    animation-duration: 1.5s;

}


/* middle page */





.midlle{
    margin: 0;
    background-color: rgb(178, 176, 176);
    width: 100vw;
    height: 100vh;
}


.nav-bar1{
    display: flex;
    justify-content: center;
    position: relative;
    height: 10vh;
    background-color: black;
    width: 100vw;
    

}

.nav-bar1 span{
    -webkit-text-stroke: 0.6px rgb(8, 80, 34);
    font-size: 5vw;
    color: rgba(186, 233, 164, 0.757);
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
}

.middle-imgs{
    position: relative;
    top: 10vh;
    width: 100vw;
    height: 50vh;


}

.imgRow{
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imgRow p{
    color: white;
    display: none;

}

.imgFirst{
    position: relative;
    background-color: black;
    height: 30vh;
    width: 35vw;

}

.imgSecond{
    position: relative;
    background-color: black;
    height: 30vh;
    width: 35vw;
    
}


.imgRow img{
    height: 25vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

.imgRow div:hover img{
    filter: blur(4px);
    transition-duration: 1000ms;
    display: block;
}


.imgRow div:hover p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3vw;
    display: block;

}


.imgRow2{
    
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgRow2 p{
    color: white;
    display: none;

}


.imgThird{
    position: relative;
    background-color: black;
    height: 30vh;
    width: 35vw;

}

.imgForth{
    position: relative;
    background-color: black;
    height: 30vh;
    width: 35vw;

}


.imgRow2 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 25vh;
    width: 30vw;
}

.imgRow2 div:hover img{

    filter: blur(4px);
    transition-duration: 1000ms;
    display:block;

}
.imgRow2 div:hover p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3vw;
    display: block;

}


/* selling pages */

.fix{

    position: fixed;

}

.container{
    /* padding-top: 20vh; */
    width: 100vw ;
    height: 160vh;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap: 2vw;
    margin-top: 20vh;

}


.container h1{
    display: none;
}

.container img{

    /* display: flex; */
    height: 30vh;
    width: 25vw;
    border: 3px black double;

}


.container p{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(8, 80, 34);
    font-weight: bold;
    font-size: larger;

}

 .container .cart{
    border: 3px double black;
    padding: 0.2px;
    color :black;
    width:max-content;
    display: inline;
    text-align: center;
   cursor: pointer;
}
.cart:hover{
    color: white;
    background-color: black;
    /* border-color: white; */

}
.cart:hover ~div ul{
    display: block;
    margin-left: 5vw;
    
}

.header{
    height: 5vh;
    width: 100vw;
    background-color: black;
    margin-top: 0;

}



#back{
    background-color: white;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    border-radius: 20%;
    padding: 0.5vw;
    border: 2px solid black;
    position: absolute;
    left: 0;

}

#back{

    color: black;
}

#back:hover{

    opacity: 0.5;

}

.header-title{
    color:rgba(186, 233, 164, 0.757);
    margin-top: 0vh;
    text-align: center;
    /* animation: glows infinite;
    animation-duration: 2s; */

}

.head{
    position: fixed;
    top: 0;
}



/* footage */

.footage {
    background-color: wheat;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.contact {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 5vw;
    gap: 20vw;
}


.contact2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    gap: 20vw;
    /* margin-left: 13vw; */

}

.contact3 {

    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.explain {
    /* margin-bottom: 0px; */
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#explain2 {
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
}

#explain3 {
    /* width: 500px; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* margin-left: 480px; */
}

#input{

    

}



.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
    width: 30vw;
    margin-left: 15vw;
   


}
.icons img{
    height: 8vh;
    width: 6vw;

}




@media screen and (max-width: 768px) {

/* footage */

    .contact2 {
        /* padding-left: 7.5vw; */
        justify-content: space-between;
        width: 90vw;
        gap: 15vw;
        margin-left: 5vw;

    }

    .icons {
        width: 10vw;
        display: flex;
        justify-content: center;
        margin-right: 18vw;
    }

    .icons img{

        height: 7vh;
        width: 12vw;

    }
    .hero1{
        
        height: 100vh;
       
    }

    


    
    
}

@keyframes color-change{

    0% {color: rgb(8, 80, 34);}
    25% {color:rgba(186, 233, 164, 0.757) ;}
    50%  {color: rgb(8, 80, 34);}
    100% {color:rgba(186, 233, 164, 0.757) ;}

}

@keyframes button-hero-span{

    from{top:0vh;} to{top:5vh;}

}

@keyframes glows {


    from{color:rgba(186, 233, 164, 0.757) ;} to{ color:#ffff;}
    
}


